<div class="row">
  <div class="container all">
    <a routerLink="/home" class="html-css darkorange purple"> anasayfa</a><br />
    <a routerLink="/categori" class="html-css darkorange purple"> kategori</a><br />
    <a routerLink="/detail" class="html-css darkorange purple"> ürün detay</a><br />
    <a routerLink="/checkout" class="html-css darkorange purple"> sepet</a><br />
    <a routerLink="/about" class="html-css darkorange purple"> hakkımızda</a><br />
    <a routerLink="/profile/dashboard" class="html-css darkorange purple"> Profil</a><br />
    <a routerLink="/profile/edit" class="html-css darkorange purple"> Profil edit</a><br />
    <a routerLink="/profile/my-orders" class="html-css darkorange purple"> siparişlerim</a><br />

    <a routerLink="/search" class="html-css darkorange purple"> Search</a><br />
    <a routerLink="/auth/login" class="html-css darkorange purple"> giriş</a><br />
    <a routerLink="/auth/register" class="html-css darkorange purple"> üye ol</a><br />
    <a routerLink="/auth/forget-password" class="html-css darkorange purple"> şifremi unuttum</a><br />
    <a routerLink="/store" class="html-css darkorange purple"> mağaza</a><br />
    <a routerLink="/store-list" class="html-css darkorange purple"> mağaza listesi</a><br />
    <a routerLink="/404"  class="html-css darkorange purple"> 404</a><br />
    <a routerLink="/contact" class="html-css darkorange purple"> iletişim</a><br />
    <a routerLink="/how-it-works" class="html-css darkorange purple"> nasıl çalışır</a><br />
    <a routerLink="/aggrement" class="html-css darkorange purple"> kullanıcı sözleşmesi</a><br />





    <a routerLink="/admin/userlist" class="html-css darkorange purple">admin panel kullanıcı listesi</a><br />
    <a routerLink="/admin/categorylist" class="html-css darkorange purple">admin kategori listesi </a><br />
    <a routerLink="/admin/pagelist" class="html-css darkorange purple">admin panel sayfa listesi</a><br />
    <a routerLink="/admin/add-page" class="html-css darkorange purple"> admin panel sayfa oluştur</a><br />
    <a routerLink="/admin/settings" class="html-css darkorange purple"> admin panel site ayarları</a><br />
    <a routerLink="/admin/translate" class="html-css darkorange purple"> admin panel çeviri</a><br />
    <a routerLink="/admin/profile" class="html-css darkorange purple"> admin profile</a><br />
    <a routerLink="/admin/profile-edit" class="html-css darkorange purple"> admin profile edit</a><br />

    <a routerLink="/auth/admin/login" class="html-css darkorange purple"> admin giriş</a><br />
    <a routerLink="/auth/admin/register" class="html-css darkorange purple"> admin üye ol</a><br />
    <a routerLink="/auth/admin/forget-password" class="html-css darkorange purple"> admin şifremi unuttum</a><br />
    <a routerLink="/store/product-add" class="html-css darkorange purple"> Mağaza ürün ekleme </a><br />
    <a routerLink="/store/product-list" class="html-css darkorang purple"> Mağaza ürün listesi</a><br />
    <a routerLink="/store/profile" class="html-css darkorange purple"> Mağaza profil</a><br />
    <a routerLink="/store/edit" class="html-css darkorange purple"> Mağaza profil edit</a><br />
    <a routerLink="/store/settings" class="html-css darkorange purple"> Mağaza ayarları</a><br />




    <br />
  </div>
</div>
