<div class="row">
  <div class="col-12">
    <div class="card mt-0">
      <div class="card-body">
        <div class="dashboard-box">
          <div class="dashboard-title">
            <h4>profile</h4>
            <span routerLink="/store/edit">edit</span>
          </div>
          <div class="dashboard-detail">
            <ul>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>mağaza adı</h6>
                  </div>
                  <div class="right">
                    <h6>Fashion Store</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>mağaza sahibi</h6>
                  </div>
                  <div class="right">
                    <h6>Downers Grove, IL</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>email address</h6>
                  </div>
                  <div class="right">
                    <h6>mark.enderess@mail.com</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>Phone</h6>
                  </div>
                  <div class="right">
                    <h6>05437767721</h6>
                  </div>
                </div>
              </li>

              <li>
                <div class="details">
                  <div class="left">
                    <h6>address</h6>
                  </div>
                  <div class="right">
                    <h6>549 Sulphur Springs Road</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>açıklama</h6>
                  </div>
                  <div class="right">
                    <h6>
                      Based in United States, Fashion store has been an
                      Multikart member since May 15, 2017. Fashion Store are
                      engaged in all kinds of western clothing. In garment field
                      
                      we have maintained 3 years exporting experience. company
                      insist in the principle of "Customer first, Quality
                      uppermost"
                    </h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>facebook</h6>
                  </div>
                  <div class="right">
                    <h6>60515</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>twitter</h6>
                  </div>
                  <div class="right">
                    <h6>60515</h6>
                  </div>
                </div>
              </li>
              <li>
                <div class="details">
                  <div class="left">
                    <h6>instagram</h6>
                  </div>
                  <div class="right">
                    <h6>60515</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
