<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>search</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">search</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class="authentication-page">
  <div class="container">
    <section class="search-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <form class="form-header">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                  placeholder="Search Products......"
                />
                <div class="input-group-append">
                  <button class="btn btn-solid">
                    <i class="fa fa-search"></i>Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- section end -->

<!-- product section start -->
<section class="section-b-space ratio_asos">
  <div class="container">
      <div class="row"> <div class="col-md-12">
        <b> “gömlek” </b><span>( 161 sonuç)</span>

     </div></div>
     <br>
    <div class="row margin-res search-product">
       
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src="assets/images/pro3/2.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a  routerLink="/store"
                ><h5 class="store-name">a mağazası</h5>
                <h6>Yazlık kısa elbise</h6></a
              >
              <p>my first desc</p>
              <h4>30₺ <del>40₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src="assets/images/pro3/34.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">b mağazası</h5>
                <h6>Uzun elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>35₺ <del>50₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/28.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">c mağazası</h5>
                <h6>kışlık Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>45₺ <del>70₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/36.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">d mağazası</h5>
                <h6>Çapraz Detaylı Scuba Kumaş Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>35₺ <del>75₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/28.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">d mağazası</h5>
                <h6>Mini Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>15₺ <del>60₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/28.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">e mağazası</h5>
                <h6>Düz Çapraz Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>145₺ <del>170₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/28.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">e mağazası</h5>
                <h6>Slim Kumaş Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>105₺ <del>140₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src=" assets/images/pro3/28.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">e mağazası</h5>
                <h6>Scuba Kumaş Elbise</h6></a
              >
              <p>my sec desc</p>
              <h4>245₺ <del>270₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div>
              <a
                routerlink="/detail"
                ng-reflect-router-link="/detail"
                href="/detail"
                ><img
                  alt=""
                  class="img-fluid blur-up bg-img lazyloaded"
                  src="assets/images/pro3/34.jpg"
              /></a>
            </div>
          </div>
          <div class="product-detail">
            <div>
              <br /><a routerLink="/store"
                ><h5 class="store-name">f mağazası</h5>
                <h6>Uzun elbise2</h6></a
              >
              <p>my sec desc</p>
              <h4>35₺ <del>50₺</del></h4>
            </div>
          </div>
        </div>
      </div>
      <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    </div>
  </div>
</section>
<!-- product section end -->
