

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>our collection</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">collection</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!--section start-->
    <section class="authentication-page">
        <div class="container">
            <section class="search-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <form class="form-header">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                        placeholder="Search Stores......">
                                    <div class="input-group-append">
                                        <button class="btn btn-solid"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- section end -->

    <!--section start-->
    <section class="collection section-b-space ratio_square ">
        <div class="container">
            <div class="row partition-collection">
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/1.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>Meşe giyim</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>Duruk Giyim</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/5.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/6.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row partition-collection section-t-space">
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/7.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/8.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/9.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="collection-block">
                        <div><img src="../assets/images/collection/11.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt=""></div>
                        <div class="collection-content">
                            
                            <h3>fashion</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                                routerLink="/store" class="btn btn-outline">shop now !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
