img.img-fluid.img-30.mr-2.blur-up.lazyloaded,img.img-fluid.img-30.blur-up.lazyloaded {
    height: 34px;
    width: 34px;
}
.block-content .nav {
 
    display: block;
}
.dashboard label {

    margin-top: 20px;
}
.edit-profile{
    float: right;
    color: #ff4c3b;
}
.box-account{
    clear: both;
}