<section class="about-page section-b-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            
            <h5>1. Accepting These Terms </h5>
<p>This document and the other documents that we reference below make up our house rules, or what we officially call our Terms of Use (the “Terms” for short).

The Terms are a legally binding contract between you and Etsy. If you live in North America or South America, the contract is between you and Etsy, Inc.; if you live elsewhere, the contract is between you and Etsy Ireland UC, a subsidiary of Etsy, Inc. We’ll just refer to Etsy, Inc. and all of its subsidiaries collectively as “Etsy.”

Please note that Section 11. Disputes with Etsy, contains an arbitration clause and class action waiver. By agreeing to the Terms, you agree to resolve all disputes through binding individual arbitration, which means that you waive any right to have those disputes decided by a judge or jury, and that you waive your right to participate in class actions, class arbitrations, or representative actions. *

This contract sets out your rights and responsibilities when you use Etsy.com, Pattern by Etsy, our mobile apps, and the other services provided by Etsy (we’ll refer to all of these collectively as our “Services”), so please read it carefully. By using any of our Services (even just browsing one of our websites), you’re agreeing to the Terms. If you don’t agree with the Terms, you may not use our Services. Agree with us? Great, read on!

</p>
<h5>2. Those Other Documents We Mentioned</h5>
<p>
Etsy’s Services connect people around the world, both online and offline, to make, sell, and buy unique goods. Here’s a handy guide to help you understand the specific rules that are relevant for you, depending on how you use the Services:

Our House Rules for Everyone. If you use any of our Services, you agree to these Terms, our Privacy Policy, and our Anti-Discrimination Policy.

Our House Rules for Sellers. If you list any items for sale through our Services, these policies apply to you. You can read them here.

Our House Rules for Buyers. If you use our Services to browse or shop, these policies apply to you. You can read them here.</p>


 

<h5>3. Your Privacy</h5>
<p>We know your personal information is important to you, so it’s important to us. Our Privacy Policy details how your information is used when you use our Services. By using our Services, you're also agreeing that we can process your information in the ways set out in the Privacy Policy, so please read it here.

Both Etsy and sellers process members’ personal information (for example, buyer name, email address, and shipping address) and are therefore considered separate and independent data controllers of buyers’ personal information under EU law. That means that each party is responsible for the personal information it processes in providing the Services. For example, if a seller accidentally discloses a buyer’s name and email address when fulfilling another buyer’s order, the seller, not Etsy, will be responsible for that unauthorized disclosure.  

If, however, Etsy and sellers are found</p>
 

<h5>4. Your Account with Etsy</h5>
<p>You’ll need to create an account with Etsy to use some of our Services. Here are a few rules about accounts with Etsy:

A. You must be 18 years or older to use our Services. Minors under 18 and at least 13 years of age are only permitted to use our Services through an account owned by a parent or legal guardian with their appropriate permission and under their direct supervision. Children under 13 years are not permitted to use Etsy or the Services. You are responsible for any and all account activity conducted by a minor on your account. For more information, see Etsy's Minors Policy.

B. Be honest with us. Provide accurate information about yourself. It’s prohibited to use false information or impersonate another person or company through your account.

C. Choose an appropriate name. If you decide to not have your full name serve as the name associated with your account, you may not use language that is offensive, vulgar, infringes someone’s intellectual property rights, or otherwise violates the Terms.

D. You're responsible for your accou</p>
 
            </div>
            </div>
            </div>
            </section>
