<div class="dashboard-right tab-content" >
    <div
      class="dashboard tab-pane fade active show"
      id="my-account"
      role="tabpanel"
      aria-labelledby="my-account-tab"
    >
    <div class="page-title">
      <h2>My Dashboard</h2>
    </div>
    <a href="#" class="edit-profile">Edit</a>
      <div class="box-account box-info">
       
        <div class="row">
          <div class="col-sm-6">
            <div class="box">
              <div class="box-title">
                <h6>MARK JECNO</h6>
                <h6>0543 123 45 67</h6>
               
              </div>
              <div class="box-content">
              
                <h6>MARk-JECNO@gmail.com</h6>
                <h6><a href="#">Change Password</a></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <div class="box-title">
              <h6>Anafartalar mah. Sanayi cad. No:22
<br>
                Altındağ Ankara</h6>
             
              </div>
            </div>
          </div>
        </div>
         
          <div class="row">
            
            <div class="col-sm-6">
             
            
            </div>
          </div>
        
      </div>
    </div>
    <div
      class="dashboard tab-pane fade multi"
      id="my-orders"
      role="tabpanel"
      aria-labelledby="my-orders-tabs"
    >
    </div>
  
  </div>