
@media only screen and (max-width: 768px)
{
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 50%;
        display: inline-block;
    }
}
.needs-validation textarea {

    width: 100%;
}