<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>about us</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb end -->

<!-- about section start -->
<section class="about-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-section">
          <img
            src="../assets/images/about/about%20us.jpg"
            class="img-fluid blur-up lazyload"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-12">
        <h4>С уходом клиентов из стран ЕАЭС торговля на</h4>
        <p>
            а в Россию и Украину. Тем не менее, з
        </p>
        <p>
          Лалели – любимое место для закупок у торговых коммерсантов из стран
          СНГ. Начиная с 90-х годов именно этот рынок снабжал весь мир тысячами
          видов одежды, обуви и других потребительских товаров. Большая часть
          товара из рынка уходила в Россию и Украину. Тем не менее, здесь также
          было немало покупателей из Кыргызстана, Туркменистана и Узбекистана.
          Но в настоящее время по состоянию торговых точек на Лалели,
          расположенном в историческом центре Стамбула, можно понять, что
          последние события в Турции нанесли большой урон торговле на рынке.
          Поток туристов и челноков, а также торговцев заметно поредел.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!-- service section start -->
<div class="container">
  <section class="service section-b-space pt-0">
    <div class="row partition4">
      <div class="col-lg-3 col-md-6 service-block1">
        <img src="../../../../assets/images/icon/money.png" alt="" />
        <h4>lowest cost</h4>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 service-block1">
        <img src="../../../../assets/images/icon/arrow-up.png" alt="" />

        <h4>high growth rate</h4>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 service-block1 border border-0">
        <img src="../../../../assets/images/icon/transport.png" alt="" />

        <h4>dedicated pickup</h4>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 service-block1 border border-0">
        <img src="../../../../assets/images/icon/aggrement.png" alt="" />

        <h4>most approachable</h4>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>
      </div>
    </div>
  </section>
</div>
<!-- service section end -->
