<footer class="footer-light">
    <section class="section-b-space light-layout">
      <div class="container">
        <div class="row footer-theme partition-f">
          <div class=" col-md-4">
            <div class="footer-title footer-mobile-title">
              <h4>about</h4>
            </div>
            <div class="footer-contant">
              <div class="footer-logo">
                <img src="assets/images/icon/logo.png" alt="" /> <p>
                Toptan Kadın Erkek ve çocuk Giyim Ürünlerini Uygun Fiyatla
                Butiklere Sunuyoruz
              </p>
              </div>
             
              <div class="footer-social">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-instagram" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2 offset-md-1">
            <div class="sub-title">
              <div class="footer-title">
                <h4>Linkler</h4>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a  routerLink="categori">Elbise</a></li>
                  <li><a  routerLink="categori">Alt ve üst giyim</a></li>
                  <li><a  routerLink="categori">Aksesuar</a></li>
                  <li><a  routerLink="categori">Takımlar</a></li>
                  <li><a  routerLink="categori">Büyük beden</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2">
            <div class="sub-title">
              <div class="footer-title">
                <h4>sayfalar</h4>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a routerLink="about">Hakkımızda</a></li>
                  <li><a  routerLink="how-it-works">nasıl çalışır</a></li>
                  <li><a   routerLink="contact">iletişim</a></li>
                  <li><a  routerLink="aggrement">kullanıcı sözleşmesi</a></li>



                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="sub-title">
              <div class="footer-title">
                <h4>İletişim</h4>
              </div>
              <div class="footer-contant">
                <ul class="contact-list">
                  <li>
                    <i class="fa fa-map-marker"></i>Mimar Hayrettin Sok, Balipasa
                    Yokusu Fatih, İstanbul 34200 Türkiye
                  </li>
                  <li><i class="fa fa-phone"></i>Tel: 05365291111</li>
                  <li>
                    <i class="fa fa-envelope-o"></i>Email :
                    <a href="#">lalelicollection.@gmail.com</a>
                  </li>
                  <li><i class="fa fa-fax"></i>Fax: 123456</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-6 col-sm-12">
            <div class="footer-end">
              <p>
                <i class="fa fa-copyright" aria-hidden="true"></i> © Copyright 2020 | Laleli Collection | Tüm Haklar Saklıdır.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>