<div class="page-body">
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-6">
          
        </div>
        <div class="col-lg-6">
          <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item">
              <a href="index.html"><i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Settings</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="profile-details text-center">
              <img
                src="../assets/images/dashboard/designer.jpg"
                alt=""
                class="img-fluid img-90 rounded-circle blur-up lazyloaded"
              />
              <h5 class="f-w-600 mb-0">John deo</h5>
              <span>johndeo@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card tab2-card">
          <div class="card-body">
              <h5 class="f-w-600">Profil bilgileri</h5>
            <div class="add-product">
              <ul class="file-upload-product">
                <li>
                  <div class="box-input-file" routerLink="/admin/profile-edit">
                    <i
                      class="fa fa-edit"
                    ></i>
                  </div>
                </li>
              </ul>
            </div>
            <div class="table-responsive profile-table">
              <table class="table table-responsive">
                <tbody>
                  <tr>
                    <td>First Name:</td>
                    <td>Johan</td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td>Deo</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>johndeo@gmail.com</td>
                  </tr>
                  
                  <tr>
                    <td>Mobile Number:</td>
                    <td>2124821463</td>
                  </tr>
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
