<div class="dashboard-right tab-content">
  <div class="dashboard tab-pane fade active show">
    <div class="box-account box-info">
      <form class="theme-form">
        <div class="form-row">
          <div class="col-md-6">
            <label for="name">First Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter Your name"
              required=""
            />
          </div>
          <div class="col-md-6">
            <label for="email">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="last-name"
              placeholder="Email"
              required=""
            />
          </div>
          <div class="col-md-6">
            <label for="review">Phone number</label>
            <input
              type="text"
              class="form-control"
              id="review"
              placeholder="Enter your number"
              required=""
            />
          </div>
          <div class="col-md-6">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email"
              required=""
            />
          </div>
          <div class="col-md-6">
            <label for="review">Adres</label>
            <textarea
              class="form-control mb-0"
              placeholder="adres"
              id="exampleFormControlTextarea1"
              rows="6"
            ></textarea>
          </div>
        </div>
      </form>
      <br />
    
    </div>
  </div>
</div>
